$yellow: yellow;
// 浅色渐变图
$bg-gradient-1: linear-gradient(115deg, #E1FFFC 0%, #E1FFFC 0%, #FEFDE7 31%, #FBFDFE 60%, #FBFDFE 60%);
// 深色渐变图
$bg-gradient-2: linear-gradient(141deg, #B2FFF9 0%, #B2FFF9 0%, #FEFCDD 29%, #FFFFFF 68%, #FFFFFF 68%);